/*
# README
!README.md

# vim
!.vimrc
!.dein_lazy.toml
!.dein.toml

# zsh
!.zprezto
!.zprezto/**/*

!.zshrc
!.zlogin
!.zlogout
!.zpreztorc
!.zprofile
!.zshenv
!.zshenv_prezto
!.z_add

# git config
!.gitignore_global
!.gitignore
!.gitmodules
!.gitconfig

# z directory
!.z_script

!.vim
# supress last login output
!.hushlogin
